:root {
    --mostarda: #FFC857;
    --azul-bonito: #3483d2;
    --fundo-cinza: #15202b;
}

.swal-text {
    text-align: center;
}

html, body {
    height: 100%;
    background-color: var(--fundo-cinza);
}

.modal-content {
    background-color: var(--fundo-cinza);
}

.modal-title {
    color: white;
}

.nav {
    border-bottom: 1px solid white;
    height: 3rem;
    align-items: center;
    margin-bottom: 1rem;
}

.nav a {
    color: inherit;
}

.nav li {
    color: #FFFFFF;
    font-size: 1.5rem;
    font-weight: bold;
    flex: 1;
    text-align: center;
}

.nav-item-selected {
    color: var(--mostarda) !important;
}

label {
    margin: 0;
    color: white;
}

h4 {
    color: white;
}

.rem1top {
    margin-top: 1rem;
}

.form-control {
    background-color: #253341;
    color: white;
}

.form-control:focus {
    background-color: #15202b;
    color: white;
}

.form-control:disabled {
    background-color: #434648;
}

.form-control:read-only {
    background-color: #434648;
}

* {
    font-family: 'Roboto', 'sans-serif';
}